.recipe-desc {
  width: 100%;
  padding: 0 1rem;
  color: var(--ion-color-dark);
}

.tags-container {
  width: 100%;
  padding: 0 1rem;
}

.tags-container .inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tags-container h6 {
  color: var(--ion-color-dark);
}

.recipe-tag {
  padding: 0.5rem;
  background-color: var(--ion-color-medium);
  border-radius: 5px;
  margin: 0.25rem;
  color: var(--ion-color-light);
  font-size: 0.75rem;
}

.recipe-card-info {
  grid-template-columns: 3rem auto !important;
  margin: 0 !important;
}

.recipe-card-info .info-title {
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.recipe-card-info ion-avatar {
  width: 2.25rem !important;
  height: 2.25rem !important;
  box-shadow: 0 0.5rem 3rem rgba(0,0,0,.09), 0 0.15rem 0.5rem rgba(0,0,0,.085);
}

.recipe-card-info h3 {
  font-size: 1.125rem;
  margin: 0;

}

.recipe-card-info p {
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--ion-color-medium-shade);
  margin: 0;
}