.splash-container h1{
    font-size: 65px;
    color: aliceblue;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 5rem;

}

.splash-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 102%;
    background-image: url('../../assets/background.jpg');
    background-position-x: -30vw;
    background-position-y: -10vh;
    background-size: 170%;
}

.splash-container ion-button {
    margin: 0;
    padding: 0;
    width: 40%;
}